.body-nested-step {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: calc(100% - 3.5rem);
  //background: yellow;
  padding: 5px;
  background: #fff;
  .content-progress {
    display: flex;
    width: 100%;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    // background: yellow;
  }
  .content-view {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    //background: pink;
    background: #efe9fc;
    .toolbar {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      padding: 1rem;
      //background: orange;
      background: #efe9fc;
      .ss-first-btn {
        display: inline-block;
        padding: 5px 20px;
        width: 130px;
        height: 35px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        border: none;
        background: linear-gradient(270deg, #a07eff -17.41%, #5451f1 100%);
        color: #fff;
        border-radius: 95px;
        cursor: pointer;
        transition: all 400ms ease;
        &:hover {
          border: 1px solid #6800f0;
          background: #fff;
          color: #6800f0;
        }
      }

      .ss-second-btn {
        display: inline-block;
        padding: 5px 15px;
        margin-left: 5px;
        margin-right: 5px;
        width: 130px;
        height: 35px;
        text-decoration: none;
        text-align: center;
        font-size: var(--normal-font-size);
        font-style: normal;
        font-weight: 400;
        border: 1px solid #6800f0;
        background: #fff;
        color: #6800f0;
        border-radius: 95px;
        cursor: pointer;
        transition: all 400ms;
      }
    }
  }
}
